wingoo:
  api: https://api.wingoo.com.br
  security:
    oauth2:
      resource:
        tokenInfoUri: ${wingoo.api}/uaa/oauth/check_token
      client:
        accessTokenUri: ${wingoo.api}/uaa/oauth/token
payment:
  gateway:
    config:
      shopId: 39572022
      shopKey: 6005944078480348
      mode: PRODUCTION
      endpointHost: secure.payzen.com.br
  soap:
    santander:
      cobranca-online:
        dlb-wsdl-location: classpath:wsdl/DLB/TicketEndpointService.wsdl
        dlb-transacional-service: "http://impl.webservice.dl.app.bsbr.altec.com/"
        ymb-wsdl-location: classpath:wsdl/YMB/CobrancaEndpointService.wsdl
        ymb-transacional-service: "http://impl.webservice.ymb.app.bsbr.altec.com/"
        enviroment: 'P'
unopay:
  notification:
    resetPassword:
      15200249000118: 'https://backoffice.unovation.com.br/#/page/password/15200249000118/'
      21902075000138: 'https://backoffice.unovation.com.br/#/page/password/21902075000138/'
      SUPER_SAUDE: 'https://backoffice.unovation.com.br/#/page/password/SUPER_SAUDE/'
      BACKOFFICE: 'https://backoffice.unovation.com.br/#/page/password/BACKOFFICE/'
      UNOPAY: 'https://unopay.unovation.com.br/recover-password/'
  credit:
    defaultCreditInsertionType: 'BOLETO'
  api: api.unovation.com.br
  file-uploader:
    configs:
      avatar:
        folder: avatar
      ciot:
        folder: ciot
      receipt:
        folder: nfe
      logo:
        folder: logo
      facade:
        folder: establishment-facades
amazon:
  s3:
    bucketName: unopay-files-prod
    cdn:
      uri: https://s3-us-west-2.amazonaws.com/unopay-files-prod
    accessKey: AKIAIVBZ43OSHKREK4XQ
    secretKey: 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
multipart:
  max-file-size: 9000Kb
spring:
  datasource:
      url: jdbc:postgresql://db-prod.unvlocal.com.br:5432/unopay?currentSchema=unovation
      username: administrator
      password: xKQRKAwYVNQ7GTan
      driverClassName: org.postgresql.Driver
      initialSize: 5
      min-idle: 5
      max-idle: 12
      max-active: 12
      max-wait: 10000
      test-on-borrow: true
      test-on-return: true
      test-while-idle: true
      validation-query: select 1
      time-between-eviction-runs-millis: 20000
  encryptor:
    password: 2nGvyMDNJz2Wjp6M
  jpa:
    properties:
      hibernate:
        ddl-auto: none
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    generate-ddl: false
  mail:
    default-encoding: UTF-8
    host: smtp.sendgrid.net
    username: apikey
    password: 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
    port: 587
    test-connection: true
    properties:
      mail.smtp.host: smtp.gmail.com
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.timeout: 60000
